body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4f9bfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    flex-direction: column;
}

.Quadrado {
    background: #89fefc;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #04747a;
}

.num input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.botoes button {
    background: #308b93;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    width: 45%;
    transition: background 0.3s ease;
}

.botoes button:hover {
    background: #00f2fe;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #03293a;
}
h2{
    margin-top: 20px;
    font-size: 14px;
    color: #03293a;
    font-family: Arial, sans-serif;
    
}
